<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>List demo page</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .persons, .persons td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>

<body>
<h1>Authors:</h1>
<table class="authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Genre</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.name}">John Doe</td>
        <td>
            <a th:href="@{/edit(id=${author.id})}" href="edit.html">Edit</a>
        </td>
        <td>
           <a th:href="@{/delete(id=${author.id})}" href="list.html">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>